<a href="https://colab.research.google.com/github/Vanmeeg22/Practicing-Python/blob/main/Python_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1) For a given dict d1 = {'a':34, 'b':15, 'c':78, 'd':50, 'e':67} find difference between largest and smallest values and find their corresponding keys**

In [ ]:
d1 = {'a':34, 'b':15, 'c':78, 'd':50, 'e':67}
k = list(d1.keys())
v = list(d1.values())
print(k)
print(v)

['a', 'b', 'c', 'd', 'e']
[34, 15, 78, 50, 67]

In [ ]:
maxv, minv = max(v), min(v)
print(f"Max value = {maxv}\nMin value = {minv}")

Max value = 78
Min value = 15

In [ ]:
maxv_index, minv_index = v.index(maxv), v.index(minv)
print(f"The max value key = {k[maxv_index]}\nThe min value key = {k[minv_index]}")

The max value key = c
The min value key = b

**2) From a given list of marks, find the second highest marks.**

In [ ]:
marks = [68, 72, 84, 76, 89, 92, 50, 82]
marks.sort()
print(marks)

[50, 68, 72, 76, 82, 84, 89, 92]

In [ ]:
print(f"Second highest marks = {marks[-2]}")

Second highest marks = 89

**3) Create a function to generate a list containing common elements of two given lists.**
```
w1 = [1,2,3,4,67,78]
w2 = [45,78,3,11,109]
```

In [ ]:
w1 = [1,2,3,4,67,78]
w2 = [45,78,3,11,109]

def common1(w1, w2):
  common = []
  for i in w1:
    if i in w2:
      common.append(i)
  print(common)

common1(w1, w2)

[3, 78]

In [ ]:
# Method 2:
def common2(w1, w2):
  common = []
  w1, w2 = set(w1), set(w2)
  res = list(w1.intersection(w2))
  print(res)

common2(w1, w2)

[3, 78]

**4) Write a program that takes a list of words and returns the length of longest word and print it as well. Assume any list of words.**

In [ ]:
words = ["Meta", "Instagram", "Snapchat", "WhatsApp", "Discord", "Signal", "Telegram"]
word_len = [len(i) for i in words]
print(word_len)

[4, 9, 8, 8, 7, 6, 8]

In [ ]:
max_len = max(word_len)
max_len_index = word_len.index(max_len)
print(max_len_index)

1

In [ ]:
print(f"Longest word is {words[max_len_index]}")

Longest word is Instagram

**5) Sort even-placed elements (according to their index) in decreasing and odd-placed in increasing order. Store them in a separate list and display them as output. Assume any list of numbers.**

In [ ]:
num = [34,23,45,56,28,91,15,3,6,16,29,48,50]

even_place, odd_place = [], []
for i in range(len(num)):
  if i%2 == 0:
    even_place.append(num[i])
  else:
    odd_place.append(num[i])

even_place.sort(reverse = True)
odd_place.sort()

print("Values in Even place sorted in decreasing order: ", even_place)
print("Values in Odd place sorted in increasing order: ", odd_place)

Values in Even place sorted in decreasing order:  [50, 45, 34, 29, 28, 15, 6]
Values in Odd place sorted in increasing order:  [3, 16, 23, 48, 56, 91]

**6) Find the pair (pair of two) of numbers from a list which sum upto 20. Assume any list of numbers. Given list:
[3,8,17,8,19,12,11,2,4]**

In [ ]:
d = [3,8,17,8,19,12,11,2,4]
sum20 = []
for i in d:
  for j in d:
    if i+j == 20:
      sum20.append((i, j))
print(sum20)

[(3, 17), (8, 12), (17, 3), (8, 12), (12, 8), (12, 8)]

In [ ]:
# Method 2:
d = [3,8,17,8,19,12,11,2,4]
sum20 = []
for i in d:
  if (20 - i) in d:
      sum20.append((i, 20 - i))
print(sum20)

[(3, 17), (8, 12), (17, 3), (8, 12), (12, 8)]

**7) Count the occurence of each element in the list using dictionary. Assume any list of numbers or words.**

In [24]:
x = [24,35,10,24,10,47,80,47,35,10,24,]
d = {}
for i in x:
  d[i] = x.count(i)
print(d)

{24: 3, 35: 2, 10: 3, 47: 2, 80: 1}

**8) For the given list find the sum of marks of A,B,C,D and E**

**names = ['A','B','C','D','E','B','C','B','A','C','D','E','D','A','B','E']**

**marks = [49,56,78,89,94,90,80,43,54,61,73,85,95,38,56]**

In [29]:
names = ['A','C','D','E','B','C','B','A','C','D','E','D','A','B','E']
marks = [49,56,78,89,94,90,80,43,54,61,73,85,95,38,56]

print(len(names), len(marks))
d = {}
for i in range(len(names)):
  if names[i] not in d.keys():
    d[names[i]] = marks[i]
  else:
    d[names[i]] += marks[i]
print(d)

15 15
{'A': 187, 'C': 200, 'D': 224, 'E': 218, 'B': 212}